/* Dashboard Heading */
.dashboard-heading{
  font-size: 42px;
  background: linear-gradient(to right, #2563eb, #7c3aed);
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.dashboard-text{
  max-width: 700px;
  font-size: 18px;
  line-height: 1.8;
}

/* Dashboard Cards */
.dashboard-card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
}

/* Welcome Card */
.welcome-card {
  transition: all 0.3s ease;
}

.welcome-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
}

/* Buttons */
.custom-btn {
  transition: all 0.3s ease;
}

.custom-btn:hover {
  transform: scale(1.03);
}

/* Employee Cards */
.employee-card {
  transition: all 0.3s ease;
}

.employee-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.18) !important;
}

/* Welcome Text Animation */
.welcome-card h1 {
  animation: fadeSlide 1s ease;
}
.welcome-card p {
  animation: fadeSlide 1.3s ease;
}

@keyframes fadeSlide {

  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DASHBOARD RESPONSIVE */
@media (max-width: 576px) {

  .dashboard-heading {
    font-size: 26px;
  }

  .dashboard-text {
    font-size: 15px;
  }

  .welcome-card {
    padding: 25px 15px !important;
  }

  .dashboard-card h3 {
    font-size: 20px;
  }

  .dashboard-card h1 {
    font-size: 32px;
  }
}