/* Background */
.login-page {
  min-height: 100vh;
  padding: 20px 15px;

  background: linear-gradient(
    135deg,
    white,
    #baa9d9
  );
}

/* Card */
.login-card {
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.95);
  transition: all 0.3s ease;
  animation: fadeUp 0.8s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2) !important;

}

/* Title */
.login-title {
  font-weight: 700;
  color: #111827;
}

/* Inputs */
.custom-input {
  height: 50px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.custom-input:focus {
  box-shadow: 0 0 10px rgba(37,99,235,0.3);
  border-color: #2563eb;
}

/* Button */
.login-btn {
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: scale(1.03);
}

/* Animation */
@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  LOGIN RESPONSIVE */
@media (max-width: 400px) {

  .login-page {
     min-height: auto;
     padding: 20px 10px;
     align-items: flex-start !important;
  }

  .login-card {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
  }

  .login-card h2 {
    font-size: 24px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}